<div class="navitem">
  <div class="container">
    <div class="row">
      <div class="col chapternav-item">MacBook Air</div>
      <div class="col chapternav-item">MacBook Pro 13”</div>
      <div class="col chapternav-item">MacBook Pro 16”</div>
      <div class="col chapternav-item">iMac</div>
      <div class="col chapternav-item">iMac Pro</div>
      <div class="col chapternav-item">Mac Pro</div>
      <div class="col chapternav-item">Mac Pro</div>
      <div class="col chapternav-item">Compare</div>
      <div class="col chapternav-item">Pro Display XDR</div>
      <div class="col chapternav-item">Pro Display XDR</div>
      <div class="col chapternav-item">Pro Display XDR</div>
    </div>
  </div>
</div>
