<app-nav-items></app-nav-items>
<div class="covid-content">Evaluate COVID‑19 symptoms and understand next steps > </div>
<div class="container">
  <div class="row pt-5 pb-5 mr-auto ml-auto">
    <div class="col col-4 macbook-pro-13-items mt-4">
      <p class="mb-0 h5">New</p>
      <p class="mb-0 h5">13-inch model</p>
      <h2 class="mb-0 title-items">MacBook Pro</h2>
      <div>
        <p class="mb-0 h3">Power. Moves.</p>
      </div>
      <button class="btn btn-primary buy-button">Buy</button>
    </div>
    <div class="col col-8">
      <figure class="image image-hero-macbook-pro-13"></figure>
    </div>
  </div>
</div>
