<div class="module-content">
  <div class="unit-wrapper">
    <div class="covid-content">Evaluate COVID‑19 symptoms and understand next steps</div>
    <div class="module-content-covid">Shop online and get free, no‑contact delivery, Specialist help and more.</div>
    <div class="unit-copy-wrapper">
      <h2 class="headline">iPhone SE</h2>
      <h3 class="subhead">Lots to love. Less to spend. Starting at $399.</h3>
      <p class="price">From<span>$9.54/mo.</span> or <span>$229 with trade-in<sup>1</sup></span></p>
    </div>
    <div class="unit-image-wrapper">
      <figure class="unit-image-iphone-se"></figure>
    </div>
  </div>
</div>
