.rs-signin {
  padding-top: 30px;
  padding-bottom: 96px;
}


.form-control {
  border-radius: 12px;
  padding: 18px;
}

.btn {
  border-radius: 12px;
  padding: 18px;
}


.rs {
  background: #f5f5f7;
  height: 165px;
  overflow: hidden;
}
